/* universal styles */

body {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

/* nav section */

#navigation {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    width: 200px;
    font-size: 200%;
    font-weight: 300;
    border: 1px solid black;
    padding: 12px;
    margin-left: 12px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 5%;
}

nav li {
    display: inline-block;
    font-size: 150%;
    padding: 12px;
    margin: auto;
}

nav a:link {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

nav a:active {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 750px) {
    .small-nav {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    nav h1 {
        font-size: 150%;
        width: 150px;
        border: none;
        border-bottom: 1px solid black;
    }

    nav li {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    nav h1 {
        font-size: 100%;
        width: 120px;
    }

    nav li {
        font-size: .75rem;
    }
}

/* landing section */

#landing {
    margin: 12px;
    display: flex;
}

#landing-left {
    width: 60%;
}

#landing-image {
    width: 99%;
    height: 100%;
}

#landing-right {
    width: 40%;
    margin: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landing-right h1 {
    font-size: 56px;
    text-align: center;
    font-weight: 400;
    font-style: italic;
}

#landing-right h4 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

#landing-right p {
    font-size: 20px;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    color: white;
    width: 120px;
    margin: auto;
    line-height: 32px;
}

#landing-right a {
    display: block;
    width: 120px;
}

#landing-right a:link {
    text-decoration: none;
    color: white;
}

#landing-right a:visited {
    text-decoration: none;
    color: white;
}

#landing-right a:hover {
    background-color: white;
    color: black;
    transition: all .4s linear;
}

#landing-right a:active {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1024px) {
    #landing-left img {
        display: none;
    }

    #landing {
        background-image: url("../images/landingimage.webp");
        background-size: cover;
        background-position: center;
        background-repeat: norepeat;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    #landing-right {
        background-color: white;
        opacity: 85%;
        padding: 24px;
        width: auto;
        border: none;
    }

    #landing-right-text h1 {
        margin: 0;
        font-size: 40px;
        font-weight: 300;
        text-align: left;
        font-style: normal
    }

    #landing-right-text h4 {
        font-size: 20px;
        text-align: left;
        margin: 12px 0;
    }

    #landing-right-text p {
        margin: 0;
    }
}

@media only screen and (max-width: 700px) {
    #landing-right-text h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 550px) {
    #landing {
        background-position: left;
    }
    
    #landing-right-text h1 {
        font-size: 26px;
    }

    #landing-right-text h4 {
        margin: 12px 0;
        font-weight: 300;
    }

    #landing-right-text p {
        font-size: 16px;
        width: 120px;
    }
}

/* about section */

#about {
    margin: 12px;
    display: flex;
}

#about-left-container {
    width: 60%;
}

#about-text h1 {
    font-size: 44px;
    text-align: center;
}

#about-text p {
    font-size: 24px;
}

#about-right-container {
    width: 40%;
    margin: auto;
}

#about-right-container img {
    width: 100%;
    margin-top: 12px;
}

@media only screen and (max-width: 1024px) {
    #about-right-container {
        width: 0;
    }
    
    #about-right-container img {
        display: none;
    }

    #about {
        background-image: url("../images/about-us-crop.jpg");
        background-position: center;
        background-repeat: norepeat;
        background-size: cover;
    }

    #about-left-container {
        width: 100%;
        background-color: white;
        opacity: 85%;
    }

    #about-text {
        padding: 0 12px;        
    }
}

@media only screen and (max-width: 600px) {
    #about-text h1 {
        font-size: 32px;
    }
    
    #about-text p {
        font-size: 20px;
    }
}

/* FAQs section */

#faqs {
    margin: 12px;
    position: relative;
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
}

#faqs::before {
    content: "";
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .4;
}

#faqs h1 {
    position: relative;
    font-size: 44px;
}

@media only screen and (max-width: 600px) {
    #faqs h1 {
        font-size: 32px;
        text-align: center;
    }
}

/* footer section */

footer {
    margin: 12px;
    font-size: 12px;
    border-top: 1px solid black;
}