/* universal styles */

body {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

/* nav section */

#navigation {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 200%;
    font-weight: 300;
    border: 1px solid black;
    padding: 12px;
    margin-left: 12px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 5%;
}

nav li {
    display: inline-block;
    font-size: 150%;
    padding: 12px;
    margin: auto;
}

nav a:link {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

nav a:active {
    color: black;
    text-decoration: none;
}

/* landing section */

#landing {
    margin: 12px;
    display: flex;
}

#landing-left {
    width: 60%;
}

#landing-image {
    width: 99%;
    height: 100%;
}

#landing-right {
    width: 40%;
    margin: 0;
    border: 1px solid black;
}

#landing-right-text {
    margin-top: 15%;
}

#landing-right h1 {
    font-size: 56px;
    text-align: center;
    font-weight: 400;
}

#landing-right h4 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

#landing-right p {
    font-size: 20px;
    text-align: center;
    background-color: black;
    color: white;
    width: 20%;
    padding: 8px;
    margin: auto;
}

#landing-right p:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all .4s linear;
}

/* about section */

#about {
    margin: 12px;
    display: flex;
}

#about-left-container {
    width: 60%;
}

#about-text h1 {
    font-size: 44px;
    text-align: center;
}

#about-text p {
    font-size: 24px;
}

#about-right-container {
    width: 40%;
    margin: auto;
}

#about-right-container img {
    width: 100%;
    margin-top: 12px;
}

/* FAQs section */

#faqs {
    margin: 12px;
}

#faqs img {
    width: 100%;
    opacity: 40%;
}

/* footer section */

footer {
    margin: 12px;
    font-size: 12px;
    border-top: 1px solid black;
}